<app-header></app-header>
<div class="skill-container">
    <div class="wrapper">
        <div class="row flex">
            <div id="chart_test" style="width:100%"></div>
        </div>
        <div class="cls-hint row flex">
          <div class=" col col-3 col-lg-3 col-xl-3 col-sm-3"><img src="assets/img/voice.png"> </div>
          <div class="col col-9 col-lg-9 col-xl-9 col-sm-9"> “Alexa, ask ENO8 how I spend most of my day.”</div>
        </div>
        <div style="text-align: center;margin-top:15px; ">
          <a href="#/about-us" style="margin-right: 25px;color: #ff9933;text-decoration: underline;">About VUI</a>
          <a href="https://playground.eno8.com" style="margin-left: 25;color: #ff9933;text-decoration: underline;">Back to Digital Lab</a>
        </div>
    </div>
    
</div>
<!-- <section class="flex">
  <div class="container">
    <div class="row flex">
      <div class="col-12 col-lg-12 col-sm-12 col-xl-12 inFlex">
        <div id="chart_test" style="width:500px;height: 400px;"></div>
      </div>
    </div>
  </div>
  <button (click)="visibleToolTip('work')">test</button>
</section> -->

