<div *ngIf="authenticated">

  <app-header></app-header>
  <div class="skill-container">
    <div class="wrapper">
      <div class="row flex">
        <div id="chart_test" style="width:100%"></div>
      </div>

      <div class="cls-hint row flex">
        <div class=" col col-3 col-lg-3 col-xl-3 col-sm-3"><img src="assets/img/voice.png"> </div>
        <div class="col col-9 col-lg-9 col-xl-9 col-sm-9">
          <h2 class="rw-sentence">
            Try Saying:
            <div class="rw-words rw-words-1">
              <span> “Alexa, show me work”</span>
              <span> “Alexa, show me eat”</span>
              <span> “Alexa, show me minimum”</span>
              <span> “Alexa, show me maximum”</span>
              <span> “Alexa, show me sleep”</span>
              <span> “Alexa, how I spend most of my day”</span>
              <span> “Alexa, what activity I spend the least time at each day”</span>
            </div>
          </h2>

        </div>
      </div>
      <div style="text-align: center;margin-top:15px; ">
        <a href="#/about-us" style="margin-right: 25px;color: #ff9933;text-decoration: underline;">About VUI</a>
        <a href="https://playground.eno8.com" style="margin-left: 25;color: #ff9933;text-decoration: underline;">Back to
          Digital Lab</a>
        <a href="#/tech-summary" style="margin-left: 25px; width: 100%; color: #ff9933;text-decoration: underline;">Tech
          Summary</a>
      </div>
    </div>

  </div>
  <!-- <section class="rw-wrapper">
	<h2 class="rw-sentence">
		<span>Real poetry is like</span>
		<span>creating</span>
		<div class="rw-words rw-words-1">
			<span>breathtaking moments</span>
			<span>lovely sounds</span>
			<span>incredible magic</span>
			<span>unseen experiences</span>
			<span>happy feelings</span>
			<span>beautiful butterflies</span>
		</div>
		<br />
		<span>with a silent touch of</span>
		<div class="rw-words rw-words-2">
			<span>sugar</span>
			<span>spice</span>
			<span>colors</span>
			<span>happiness</span>
			<span>wonder</span>
			<span>happiness</span>
		</div>
	</h2>
</section> -->
  <!-- <section class="flex">
  <div class="container">
    <div class="row flex">
      <div class="col-12 col-lg-12 col-sm-12 col-xl-12 inFlex">
        <div id="chart_test" style="width:500px;height: 400px;"></div>
      </div>
    </div>
  </div>
  <button (click)="visibleToolTip('work')">test</button>
</section> -->

</div>