<div *ngIf="authenticated">

</div>
<h1 class="about-header">Welcome to</h1>
<div class="about-container">
  <div class="wrapper">
      <div class="section">
          <div class="header"> About VUI </div> 
          <p>
            A VUI is the interface to any speech application. Controlling a machine by simply talking to it was science fiction only a short time ago. Until recently, this area was considered to be artificial intelligence. However, advances in technologies like text-to-speech, speech-to-text, Natural Language Processing, and cloud services, in general, contributed to the mass adoption of these types of interfaces. VUIs have become more commonplace, and people are taking advantage of the value that these hands-free, eyes-free interfaces provided in many situations.<br/><br/>
            VUIs need to respond to input reliably, or they will be rejected and often ridiculed by their users. Designing a good VUI requires interdisciplinary talents of computer science, linguistics and human factors psychology – all of which are skills that are expensive and hard to come by.<br/>
            Today, people spend too much of their time looking for information. Visualisations provide the insights needed to foster a data-driven culture, but sometimes all that information can be intimidating.<br/>
            VUI can help solve this problem by acting as an intelligent assistant at work. VUI lets people use their voice to interact with technology so they can spontaneously ask questions in a way that feels natural.
          </p>
      </div>
      <div class="section">
          <a href="#/skill-manipulation" class="about-close">Close</a>
      </div>
      
  </div>

</div>
