<h1 class="about-header">Welcome to</h1>
<div class="about-container">
  <div class="wrapper">
      <div class="section">
          <div class="header"> About VUI </div> 
          <p>
              Today, people spend too much of their time looking for information. Visualizations provide the insights needed to foster a data-driven culture, but sometimes all that information can be intimidating. <br><br>

              VUI can help solve this problem by acting as an intelligent assistant at work. VUI lets people use their voice to interact with technology so they can spontaneously ask questions in a way that feels natural. 
          </p>
      </div>
      <div class="section">
          <div class="header"> Tech Summary </div> 
          <p>
              AwS Alexa kit to operate voice commands<br>
              AWS Lambda function to manipulate command <br>
              Web Socket connectivity for real time response at website <br>
              angular 6 is used at the website<br>
          </p>
      </div>
      <div class="section">
          <a href="#/skill-manipulation" class="about-close">Close</a>
      </div>
      
  </div>

</div>
