<h1 class="about-header">Welcome to</h1>
<div class="about-container">
  <div class="wrapper">
      <div class="section">
          <div class="header"> About VUI </div> 
          <p>
              Today, people spend too much of their time looking for information. Visualizations provide the insights needed to foster a data-driven culture, but sometimes all that information can be intimidating. <br><br>

              VUI can help solve this problem by acting as an intelligent assistant at work. VUI lets people use their voice to interact with technology so they can spontaneously ask questions in a way that feels natural. 
          </p>
      </div>
      <div class="section">
          <div class="header"> List of Voice Commands </div> 
          <p>
              Alexa, ask ENO8 to show me X, where X is a section in the pie graph.<br>
              Alexa, ask ENO8 to show me the min of the pie graph.<br>
              Alexa, ask ENO8 to show me max of the pie graph.<br>
              Alexa, ask ENO8 how I spend most of my day.<br>
              Alexa, ask ENO8 what activity I spend the least time at each day.<br>
              Alexa, ask ENO8 for help.<br>
          </p>
      </div>
      <div class="section">
          <a href="#/skill-manipulation" class="about-close">Close</a>
      </div>
      
  </div>

</div>
