<h1 class="about-header">Welcome to</h1>
<div class="about-container">
  <div class="wrapper">
    <div class="section">
      <div class="header"> Tech Summary </div>
      <p>
        AWS Alexa kit to operate voice commands<br>
        AWS Lambda function to manipulate command <br>
        Web Socket connectivity for real time response at website <br>
        Angular 6 is used at the website<br>
      </p>
    </div>
    <div class="section">
      <a href="#/skill-manipulation" class="about-close">Close</a>
    </div>

  </div>

</div>